{% extends 'base.html' %}
{% block content %}
    <h3>Create an account</h3>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        Please enter your name
        <input type="text" name="name"><br>
        Please enter your age
        <input type="text" name="age"><br>
        Please select your gender
        <label>
            <input type="radio" name="male">
            Male
        </label>
        <label>
            <input type="radio" name="female">
            Female
        </label><br>
        <button type="submit">Register</button>
    </form>
{% endblock %}