{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <p>Your Profile</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            <h3 class="lobster">Name</h3>
            <p>Robin Lee</p>
        </div>
        <div class="col-sm-4">
            <h3 class="lobster">Age</h3>
            <p> 26</p>
        </div>
            <div class="col-sm-4">
                <h3 class="lobster">Sex</h3>
                <p>Female</p>
            </div>
        </div>
    </div>
<form action="{% url 'match' %}" method="get">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
            <h4>Please select the attribute that best describes you</h4>
                <select class="form-control data-inline-block" name="your_attribute">
                {% for a in attributes %}
                    <option value= "{{a.character}}">{{a.character}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <h4>Please select the attribute that you want in a partner</h4>
                <select class="form-control" name="partner_attribute">
                    {% for a in attributes %}
                        <option value= "{{a.character}}">{{a.character}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
<input type="submit" value="Match!">
</form>
{% endblock %}

