{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <p>Your Matches</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            <h3 class="lobster">Match 1</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Sex</th>
                </tr>
                <tr>
                    <td>{{ first_result.name }}</td>
                    <td>{{ first_result.age }}</td>
                    <td>{{ first_result.sex }}</td>
                </tr>
            </table>
        <input type="submit" value="Match!">
        </div>
        <div class="col-sm-4">
            <h3 class="lobster">Match 2</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Sex</th>
                </tr>
                <tr>
                    <td>{{ second_result.name }}</td>
                    <td>{{ second_result.age }}</td>
                    <td>{{ second_result.sex }}</td>
                </tr>
            </table>
        <input type="submit" value="Match!">
        </div>
    </div>
{% endblock %}